In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import csv
import json
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
from datetime import datetime, timezone

In [2]:
# Load .env variables
load_dotenv()

True

## Fetching Stock Data

In [3]:
# Set Alpaca API key and secret key
alpaca_key = os.getenv('ALPACA_API_KEY')
alpaca_priv_key = os.getenv('ALPACA_SECRET_KEY')

In [4]:
# Check data types to ensure key imports were successful
print(type(alpaca_key))
print(type(alpaca_priv_key))

<class 'str'>
<class 'str'>

In [5]:
# Create alpaca API object
api = tradeapi.REST(
    alpaca_key,
    alpaca_priv_key,
    api_version = 'v2')

In [6]:
# Create parameters to be used in data pulling
start = pd.Timestamp('2017-05-05', tz='America/New_York').isoformat()
end = pd.Timestamp('2022-05-05', tz='America/New_York').isoformat()
tickers = ['AAPL', 'MSFT', 'AMZN' , 'TSLA', 'GOOGL']
timeframe = '1Day'

In [7]:
# Pull data
stock_pulled_df = api.get_bars(
    tickers,
    timeframe,
    start = start,
    end = end
).df

In [8]:
# Preview dataframe
stock_pulled_df

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2017-05-05 04:00:00+00:00,146.76,148.9800,146.76,148.96,27359822,157911,148.248475,AAPL
2017-05-08 04:00:00+00:00,149.03,153.7000,149.03,153.01,48864610,255930,152.033116,AAPL
2017-05-09 04:00:00+00:00,153.88,154.8800,153.45,153.99,39135644,221722,154.114338,AAPL
2017-05-10 04:00:00+00:00,153.63,153.9400,152.11,153.26,25807492,156839,153.101049,AAPL
2017-05-11 04:00:00+00:00,152.69,154.0700,152.31,153.95,27259011,137633,153.193138,AAPL
...,...,...,...,...,...,...,...,...
2022-04-29 04:00:00+00:00,901.43,934.3999,870.00,870.76,29438762,888856,901.192753,TSLA
2022-05-02 04:00:00+00:00,861.63,906.3599,848.03,902.94,25178443,783323,876.904710,TSLA
2022-05-03 04:00:00+00:00,902.68,924.0800,888.59,909.25,21187584,605288,908.677578,TSLA
2022-05-04 04:00:00+00:00,902.91,955.5000,885.28,952.62,27148468,725687,917.219531,TSLA
2022-05-05 04:00:00+00:00,939.59,945.6000,857.70,873.28,30755042,1012450,890.303721,TSLA

In [9]:
# Create a list of columns needed to be removed
drop_list = ['open', 'vwap', 'high', 'low', 'volume', 'trade_count', 'symbol']

# Slice dataframe and drop columns
aapl = stock_pulled_df[stock_pulled_df['symbol']=='AAPL'].drop(drop_list, axis=1)
msft = stock_pulled_df[stock_pulled_df['symbol']=='MSFT'].drop(drop_list, axis=1)
amzn = stock_pulled_df[stock_pulled_df['symbol']=='AMZN'].drop(drop_list, axis=1)
tsla = stock_pulled_df[stock_pulled_df['symbol']=='TSLA'].drop(drop_list, axis=1)
googl = stock_pulled_df[stock_pulled_df['symbol']=='GOOGL'].drop(drop_list, axis=1)

# Concatenate sliced data into new dataframe
stock_df = pd.concat(
    [aapl, msft, amzn, tsla, googl],
    axis=1,
    keys=['AAPL', 'MSFT', 'AMZN', 'TSLA', 'GOOGL']
)

# Index dataframe by date
stock_df.index=stock_df.index.date

# Drop any Null values
stock_df.dropna()

              AAPL    MSFT     AMZN    TSLA    GOOGL
             close   close    close   close    close
2017-05-05  148.96   69.00   934.15  308.35   950.28
2017-05-08  153.01   68.94   949.04  307.19   958.69
2017-05-09  153.99   69.04   952.82  321.26   956.71
2017-05-10  153.26   69.31   948.95  325.22   954.84
2017-05-11  153.95   68.46   947.62  323.10   955.89
...            ...     ...      ...     ...      ...
2022-04-29  157.65  277.52  2485.63  870.76  2282.19
2022-05-02  157.96  284.47  2490.00  902.94  2331.66
2022-05-03  159.48  281.78  2485.07  909.25  2346.68
2022-05-04  166.02  289.98  2518.57  952.62  2445.22
2022-05-05  156.77  277.35  2328.14  873.28  2330.11

[1260 rows x 5 columns]

In [10]:
# Save data to csv
stock_df.to_csv('Data_files/stock_data.csv')

## Fetching Crypto Data

In [11]:
# Defining URLs
btc_url = 'https://api.coingecko.com/api/v3/coins/bitcoin/market_chart/range?vs_currency=usd&from=1493906401&to=1651759199'
eth_url = 'https://api.coingecko.com/api/v3/coins/ethereum/market_chart/range?vs_currency=usd&from=1493906401&to=1651759199'
bnb_url = 'https://api.coingecko.com/api/v3/coins/binancecoin/market_chart/range?vs_currency=usd&from=1493906401&to=1651759199'
xrp_url = 'https://api.coingecko.com/api/v3/coins/ripple/market_chart/range?vs_currency=usd&from=1493906401&to=1651759199'
ada_url = 'https://api.coingecko.com/api/v3/coins/cardano/market_chart/range?vs_currency=usd&from=1493906401&to=1651759199'

In [12]:
# Perform GET request to pull data for cryptos
btc_request = requests.get(btc_url)
eth_request = requests.get(eth_url)
bnb_request = requests.get(bnb_url)
xrp_request = requests.get(xrp_url)
ada_request = requests.get(ada_url)

In [13]:
# Convert pulled data into json
btc_request = btc_request.json()
eth_request = eth_request.json()
bnb_request = bnb_request.json()
xrp_request = xrp_request.json()
ada_request = ada_request.json()

In [14]:
# Create and organize dataframes for cryptos
btc_df = pd.DataFrame(btc_request['prices'])
eth_df = pd.DataFrame(eth_request['prices'])
bnb_df = pd.DataFrame(bnb_request['prices'])
xrp_df = pd.DataFrame(xrp_request['prices'])
ada_df = pd.DataFrame(ada_request['prices'])

In [15]:
# Rename columns
btc_df.rename(columns = {0 : 'Date', 1 : 'Price'}, inplace=True)
eth_df.rename(columns = {0 : 'Date', 1 : 'Price'}, inplace=True)
bnb_df.rename(columns = {0 : 'Date', 1 : 'Price'}, inplace=True)
xrp_df.rename(columns = {0 : 'Date', 1 : 'Price'}, inplace=True)
ada_df.rename(columns = {0 : 'Date', 1 : 'Price'}, inplace=True)

In [16]:
# Convert unix time format into traditonal date format
btc_df['date'] = pd.to_datetime(btc_df['Date'], unit='ms')
eth_df['date'] = pd.to_datetime(eth_df['Date'], unit='ms')
bnb_df['date'] = pd.to_datetime(bnb_df['Date'], unit='ms')
xrp_df['date'] = pd.to_datetime(xrp_df['Date'], unit='ms')
ada_df['date'] = pd.to_datetime(ada_df['Date'], unit='ms')

In [17]:
# Set new date format as index
btc_df.set_index('date', inplace=True)
eth_df.set_index('date', inplace=True)
bnb_df.set_index('date', inplace=True)
xrp_df.set_index('date', inplace=True)
ada_df.set_index('date', inplace=True)

In [18]:
# Drop unix column
btc_df.drop(['Date'], axis=1, inplace=True)
eth_df.drop(['Date'], axis=1, inplace=True)
bnb_df.drop(['Date'], axis=1, inplace=True)
xrp_df.drop(['Date'], axis=1, inplace=True)
ada_df.drop(['Date'], axis=1, inplace=True)

In [19]:
# Concatenate crypto dataframes
crypto_df = pd.concat(
    [btc_df, eth_df, bnb_df, xrp_df, ada_df],
    axis=1,
    keys=['BTC', 'ETH', 'BNB', 'XRP', 'ADA']
)

# Index dataframe by date
crypto_df.index=crypto_df.index.date

In [20]:
# Save data to csv
crypto_df.to_csv('Data_files/crypto_data.csv')

## Stock Price 5 Years Ago

In [27]:
# Stock price from 5 years ago
aapl_close = stock_df['AAPL']['close']

aapl_close_2017_05_05 = aapl_close.iloc[0:1]

In [28]:
aapl_close_2017_05_05

2017-05-05    148.96
Name: close, dtype: float64

## Calculate daily and cumulative returns

In [23]:
# Calculate daily returns for stock
stock_daily_returns = stock_df.pct_change()

# Rename columns
stock_daily_returns.rename(columns = {'close' : 'Daily Return'}, inplace=True)

In [24]:
# Calculate daily returns for stock
crypto_daily_returns = crypto_df.pct_change()

# Rename columns
crypto_daily_returns.rename(columns = {'Price' : 'Return %'}, inplace=True)

In [25]:
# Create merged dataframe for stock and crypto
combined_df = pd.merge(
    crypto_daily_returns, 
    stock_daily_returns, 
    left_index=True, 
    right_index=True)

In [26]:
cumulative_returns = (1 + combined_df).cumprod()
cumulative_returns.to_csv('Data_files/cumulative_returns.csv')

## Conduct Quantitative Analysis
In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Analysis
Calculate and Plot the daily returns.